extends layout

block content
  div.file-details
    h1 File Details
    p Name: #{fileName}
    p Size: #{fileSize} bytes
    p Uploaded on: #{uploadTime}
    a(href=`/files/download/${fileId}`) Download File
    a(href='/') Return to Home
