/* CSS var and font */
:root{
  font-family:'Roboto',sans-serif;
  font-size: 16px
}
/* Reset CSS */
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Importance smooth */
html {
  scroll-behavior: smooth; 
}


.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: 500;

}

/* Error styling */

.error-container {
  margin: 1rem 25%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fdecea; /* Light red background */
  border: 1px solid #f5c6cb; /* Slightly darker red border */
  border-radius: 0.375rem; /* Rounded corners */
}

.error-message {
  color: #721c24; /* Dark red text color */
  font-size: 0.875rem; /* Small text size */
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.error-message:last-child {
  margin-bottom: 0; 
}

.error-message span {
  margin-left: 0.5rem; 
}

.error-message::before {
  content: "⚠️"; 
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* From styling */
form.register, form.login{
  margin: 0 25%;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 3rem;
}

label{
  margin: 0.5rem 0;
}

input{
  height: 30px;
  padding-left: 0.5rem;
  font-family: 'Roboto', sans-serif;
  
}

.namecontainer {
  display: flex;
  justify-content: space-between; 
}

.namecontainer > .formcomponent {
  flex: 1; 
  margin-right: 1rem;
}

.namecontainer > .formcomponent:last-child {
  margin-right: 0; 
}

.formcomponent{
  display:flex;
  flex-direction: column;
}

.formbutton{
  width: 100px;
  height: 40px;
  margin: 1rem 0;
  border: none;
  background-color: rgb(22, 145, 22);
  color: white;
  font-weight: 700;
  border-radius: 4px;
}

.formbutton:hover{
  cursor: pointer;
  background-color: rgb(8, 73, 8);
}

/* Nav bar */

.nav{
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
}

.logo{
  width: 100px;
  height: 100px;
  margin-right: auto;
}

.avatar{
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1rem;
}

.sidebar{
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.createfolder{
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}

.createfolder > button{
  padding: 0.5rem 1rem;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  transition: background-color 0.3s;
}

.createfolder > button:hover, form.uploadfile > button:hover{
  background-color: #ada5a5;
  cursor: pointer;
}

.createfolder > button > .plus{
  margin-right: 1rem;
}

.createfolder > button > p{
  font-size: 16px;
}

.uploadfile{
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.uploadfile > input{
  padding: 0;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
}

form.uploadfile input[type='file'] {
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  background-color: none;
  box-sizing: border-box;
}

form.uploadfile button {
  width: 120px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.body{
  display: flex;
  gap:100px;
}

.breadcrumb{
  display: flex;
  margin-bottom: 1rem;
  
}

.breadcrumb a{
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  
}

.breadcrumb a:hover{
  color:rgb(147, 147, 197);
  transition: background-color 0.3s;
}

.breadcrumb span{
  margin-right: 10px;
}

.subtitle{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.folder, .file{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 2rem;
}

.folder button, .file button{
  display: flex;
  align-items: center;
  gap:1rem;
  padding: 0.5rem 1rem;
  width: 200px;
  height:50px;
  background-color: #ddd9d9;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px #ddd9d9;
}

.folder button:hover, .file button:hover{
  cursor: pointer;
  background-color: #969191;
  transition: background-color 0.3s;
}